@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#FFDCAA;
}
@font-face {
  font-family: 'BebasKai';
  src: url('../public/fonts/bebas_kai/BebasKai.ttf');
}

.bebas-font {
  font-family: 'BebasKai';
}

.letter {
  text-align: center;
  width: 36px;
  height: 34px;
}