@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#FFDCAA;
}
@font-face {
  font-family: 'BebasKai';
  src: url('../public/fonts/bebas_kai/BebasKai.ttf');
}

.bebas-font {
  font-family: 'BebasKai';
}

.letter {
  text-align: center;
  width: 36px;
  height: 34px;
}

.hero-shadow {
 border: 4px solid #000000;
 box-shadow: 12px 12px 0px #FF91E8;
 border-radius: 20px;
}

.button-shadow {
  box-shadow: 2px 2px 0px #000000;
}